@tailwind base;
@tailwind components;
@tailwind utilities;

/* En app.css */
.sin-flechas::-webkit-inner-spin-button,
.sin-flechas::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.sin-flechas {
    -moz-appearance: textfield;
}
